.NavbarItems {
    font-family: 'Poppins';
    background-color: #F5F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0px 1% 0 5%;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 50%;
    top:0;
    transform: translate(-50%);
    z-index: 100;
}

.logo {
    margin-left: 5%;
    cursor: pointer;
    justify-self: start;
    text-decoration: none;
    color: var(--font-color-title)
}

.MenuItems {
    width: 63%;
    list-style: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: 'Poppins';
    font-size: 16px;
    margin-right: 50px;

}

.navlinks {
    text-decoration: none;
    color: var(--font-color-title);
    margin: 10px 12px;
    cursor: pointer;
}

.Hamburger-Cross-Icons {
    display: none;
}

.navButtonContainer {
    margin-left: auto;
    display: flex;
    margin-right: 7%;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 5%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--font-color-title);
}

.link {
    color: var(--font-color-title);
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.2s;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.3s linear;
}

.active {
    color: var(--secondary-color);
}

.link:hover:after {
    width: 100%;
}

@media screen and (max-width: 1222px) {
    .NavbarItems {
        z-index: 99;
    }

    .MenuItems {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /*background-color: rgba(700, 225, 15, 0.55);*/
        background-color: #F5F4F4;
        width: 100%;
        /* border-radius: 15px; */
        height: auto;
        backdrop-filter: blur(5px);
        position: absolute;
        align-items: center;
        top: 0;
        left: -110%;
        padding: 80px 0 40px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    .MenuItems.active {
        left: 0%;
    }

    .navlinks {
        display: block;
        width: 100%;
        padding: 1.5rem 0;


    }

    .Hamburger-Cross-Icons {
        position: absolute;
        right: 0;
        display: block;
        margin-right: 5%;
    }

    .navButton {
        padding: 1rem;
        display: block;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    link {
        padding: 0;
    }

    .bar2active {
        opacity: 0;
    }

    .bar1active {
        transform: translateY(8px) rotate(45deg);
    }

    .bar3active {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navButtonContainer {
        display: none;
    }
}