.modalContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .modal {
    width: min(50%, 700px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 50%;
    overflow-y: scroll;
    /* position: relative; */
  }
  .modalTitle{
color:var(--font-color-title)
  }
  
  .modal > form {
    display: flex;
    flex-direction: column;
  }
  
  .confirmBtn {
    padding: 8px 30px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .confirmBtn:hover {
    color: var(--primary-color);
    background-color: #fff;
  }
  .cancelBtn {
    padding: 8px 30px;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .cancelBtn:hover {
    color: var(--secondary-color);
    background-color: #fff;
  }
  .btnsContainer {
    position: absolute;
    bottom: 15px;
    left: 0;
    border-top: 1px solid lightgray;
    padding-top: 30px;
    background-color: white;
  }
  