.containerParent{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100%;
    padding: 50px ;
    background-color: var(--font-color-title);
    border-radius: 20px;
    margin: 0 0 30px 0;
    gap:40%;
    /* position: fixed;
    z-index: 100; */

}
.container{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
}

.title{
    color:white;
    font-size: 32px;
    margin-top: 20px;
}

.subtitle{
color:rgb(225, 225, 225);
}

image{
background-color: black;
}

@media (width<1000px){
    .title{
            font-size: 28px;
        
    }
}

@media (width<500px){
    .title{
            font-size: 20px;
        
    }

    .subtitle{
        font-size: 14px;
    }
}