.valuesContainer {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 80%;
    color: var(--font-color-title)
}

.values {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 33px 20px;

}

.title {
    font-size: 48px;
    line-height: 1.34;
}

.subtitle {
    font-weight: 500;
}

@media (max-width: 1230px) {
    .values {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:900px) {
    .title {
        font-size: 36px;

    }
    
}
@media (max-width: 768px) {
    .values {
        grid-template-columns: 1fr;
    }

 
}

@media (max-width:500px) {
    .subtitle {
        font-size: 14px;
        width: 100%;
    }

    .title {
        font-size: 26px;
        line-height: 1.34;
    }
    .valuesContainer {
        margin: 0 auto;
        padding: 0 5px;
        max-width: 80%;
        color: var(--font-color-title)
    }
    
}