.card {
    height: 184px;
    padding: 42px 28px;
    background: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    color: var(--font-color-title)
}

.img {
    display: block;
    margin-left: 32px;
    margin-bottom: -28px;
    filter: drop-shadow(10px 10px 5px rgb(204, 204, 204));

}

.content {
    font-size: 16px;

}

@media (max-width: 768px) {
    .card {
        padding-top: 28px;
        padding-left: 17px;
        padding-right: 16px;
        min-height: 138px;
        height: unset;
    }
}

@media (max-width:500px) {
    .content {
        font-size: 14px;

    }

    .img {
        width: 100px;
        height: auto;
        filter: drop-shadow(10px 10px 5px transparent);

    }
}

@media (max-width:300px) {

    .img {
        width: 100px;
        height: auto;
    }
}