.DashHeader {
    color: var(--font-color-title);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--font-color-subtitle);

}

.header {
    border-left: 4px solid rgb(226, 17, 157);
    padding: 10px;
    width: 70%;
    height: 74px;

}

.subtitle {
    color: var(--font-color-subtitle);
    font-weight: 500;

}


.function {
    width: 250px;
    height: 45px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.button {
    border-radius: 5px;
    padding: 8px;
    border: none;
    background-color: var(--font-color-title);
    color: white;
    font-size: 16px;
    height: 50px;
    width: 130px;
    font-weight: 500;
    cursor: pointer;
}

.sorting {
    border-radius: 5px;
    height: 50px;
    width: 130px;
    background-color: white;
    font-size: 16px;
}

.sorting:focus {
    outline: none;
}

/* .icon {
    color: var(--font-color-title);
    width: 50px;
    height: 50px;
    background-color: rgb(241, 238, 238);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

} */

@media (width<700px) {
    .function {
        display: flex;
        flex-direction: column;
    }
}